.pagination{
    display: flex;
    justify-content: center;
    margin-top: 8rem;
}

.pagination__item{
    margin: 0 0.5rem;
}

.pagination__link{
    display: block;
    width: 40px;
    height: 40px;

    background-color: #0D0D0D;
    border-radius: 3px;

    text-align: center;
    color: $white;
    font-size: 1.4rem;
    line-height: 4rem;
    text-decoration: none;
    transition:  background-color
    .2s linear;
    box-shadow: 0px 0px 10px
    rgba($black, .15);

    &:hover{
        background-color: 
        lighten(#0D0D0D, 2%);  
    }
    &.active{
        background: $blue;
        box-shadow: 0px 0px 10px
        rgba($blue, 0.15);
    }
}